<div class="box">
  <article class="media">
    
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= dispo.user.email %></strong> <small><%= time_ago_in_words(dispo.created_at) %></small>
          <br/>
          <%= dispo.dispo %>
        </p>
      </div>
          
    </div>
  </article>
</div>