<%= simple_form_for([@surat, @surat.dispos.build], remote: true) do |f| %>
	
<div class = "field", style="width:688px;">
	<div class = "control">
		<%= f.input :dispo, input_html: { class: 'textarea', style: 'width:1105px' }, label: "Kotak Disposisi" %>
	</div>
</div>

<%= f.button :submit, 'Leave a dispo', class:'contact submit btn btn-primary btn-xl actions is-info' %>
<% end %>